.App {
  text-align: center;
  background-color: aquamarine;
}
.footer{
  background-color: rgb(100, 0, 139);
  text-align: center;
  justify-content: center;
  color: white;
  position: relative;
  height: 40px;
  margin-top: 387px;
}
.video{
  background-color: chocolate;
  justify-content: center;
  color: white;
}
.n{
  border-width: 5px;
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
